/* FloatingButton.css */
.floating-buttons-container {
  position: absolute;
  bottom: 80px;
  right: 25px;
  z-index: 999;
}

.floating-buttons {
  border: none;
  border-radius: 50%;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
}