.navbar {
    width: 100%;
    height: 80px;
    background: #E8F0FE;
    border-bottom: 1px solid #555;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-container {
    margin-left: 80px;
}

.logo-container span {
    font-weight: 500;
    cursor: pointer;
}

.links-container {
    margin-right: 20px;
    display: flex;
    width: 300px;
    justify-content: space-evenly;
}

.link a {
    text-decoration: none;
    color: rgb(14, 34, 14);
}

.link a:hover {
    text-decoration: none;
    color: rgba(14, 34, 14, 0.8);
}